.style-body{
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #e9e9e9;
    background-repeat: no-repeat;
}

#style1 .icone-logo{
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
    filter: grayscale(100);
}

#style1 .image-style{
    width: 400px;
    height: 300px;
}

#style1 .border-line {
    border-right: 1px solid #EEEEEE;
}

#style1 .style-card{
    margin: 0px 40px;
}

#style1 .facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#style1 .twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

#style1 .linkedin{
        background-color: #2867B2;
        color: #fff;
        font-size: 18px;
        padding-top: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        cursor: pointer;
}

#style1 .line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

#style1 .style-or {
    width: 10%;
    font-weight: bold;
}

#style1 .text-sm {
    font-size: 14px !important;
}

#style1 ::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

#style1 :-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

#style1 ::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

#style1 input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

#style1 a {
    color: inherit;
    cursor: pointer;
}



#style1 input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}


@media screen and (max-width: 991px) {
    #style1 .logo {
        margin-left: 0px;
    }

    #style1 .image {
        width: 300px;
        height: 220px;
    }

    #style1 .border-line {
        border-right: none;
    }

    #style1 .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }
}