#details .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  @media screen and (max-width: 996px) {
    #details .preview {
      margin-bottom: 20px;
    }
  }
  
  #details .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }
  
  @media screen and (min-width: 997px) {
    #details .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  #details .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  #details .product-title,
  .price,
  .sizes {
    text-transform: UPPERCASE;
    font-weight: bold;
  }
  
  #details.checked,
  .price span {
    color: #ff9f1a;
  }
  
  #details .product-title,
  .rating,
  .product-description,
  .price,
  .vote,
  .sizes {
    margin-bottom: 15px;
  }
  
  #details .product-title {
    margin-top: 0;
  }
  
  #details .size {
    margin-right: 10px;
  }
  
  #details .size:first-of-type {
    margin-left: 40px;
  }
  
  #details .add-to-cart,
  .like {
    background: rgb(230, 217, 152);
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: rgb(90, 90, 90);
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }
  #details .like {
    background: rgb(230, 217, 152);
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: rgb(90, 90, 90);
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }
  
  #details .add-to-cart:hover {
    background: rgb(232, 213, 115);
    color: #fff;
  }
  
  #details .like:hover,
  .like:hover {
    background: rgba(233, 220, 156, 0.906);
    color: rgb(255, 42, 0);
  }
  
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  
  #details .swiper {
    width: 100%;
    height: 100%;
  }
  
  #details .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  #details .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  #details .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #details .swiper-slide {
    background-size: cover;
    background-position: center;
  }
  
  #details .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  
  #details .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  
  #details .mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  
  #details .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }
  
  #details .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }